<!DOCTYPE html>
<<<<<<< HEAD:event-organizer/app/views/events/create_event.erb
<head>
  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
  <h1> Event Organizer without CSS</h1>

<h2> The place to organize all your.... that's right, EVENTS!</h2>

<%=yield%>
</body>
=======
<html>
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" type="text/html" href="../app/css/style.css"/>
    <title></title>
  </head>
  <body>
    <%=yield%>
  </body>
</html>
>>>>>>> 0cdcf439080a351f63f4e03a621ff2b219a18048:app/views/layout.erb
