<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
  <h1> Event Organizer without CSS</h1>

<h2> The place to organize all your.... that's right, EVENTS!</h2>

<%=yield%>
</body>
