<h3>Please sign up</h3>

<form>
Username: <input type="text" name="username"> </br>
E-mail: &nbsp &nbsp &nbsp<input type="text" name="email"> </br>
Password:&nbsp <input type="text" name="password"> </br>
</br>
<input type="submit" name="Submit">
</form>
